<div class= "container">
    <div class="text-center">
    <h1> Boulder Theater </h1>
  </div>
</div>

<div class="container">

      <tr>
        <td>
      <p><% @shows.each do |show| %></p>
          <%= link_to show.name, "http://www.bouldertheater.com/?x=0&y=0&s=venue+id" %>
          <%= show.date.strftime("%m/%d/%y") %>
          <%=  show.users.map {|user| user.username}.to_sentence %>
        </td>

        <td>
            <div class= "pull-right">
          <%= form_for [show, @ticket] do |f|%>
                <%= f.submit "Rock Out!", class: "btn btn-danger" %>
          <% end %>
            </div>
        </td>
      </tr>

        <br/>
        <hr>
    <% end %>
</div>
